body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
 
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#theme-toggle {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle:hover {
    background-color: #ddd;
}

body.dark-mode #theme-toggle {
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h2 {
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

#projects .project,
#certificates .certificate,
#testimonials .testimonial,
#blog .blog-post {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#projects .project h3,
#certificates .certificate h3,
#testimonials .testimonial p,
#blog .blog-post h3 {
    margin-top: 0;
}

#projects .project a,
#certificates .certificate a,
#blog .blog-post a {
    display: inline-block;
    margin-top: 10px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

body.dark-mode #projects .project,
body.dark-mode #certificates .certificate,
body.dark-mode #testimonials .testimonial,
body.dark-mode #blog .blog-post {
    background-color: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
